*{
    margin: 0;
    padding: 0;
}
body {   
    color: $fontColor;
  //map-get
   background: map-get($map: $bgColor, $key: 'main');
}
h1, h2{
    font-family: $h1Font;
    font-size: $sizeH1;
    font-weight: $fontWeight;
    text-align: $alignText;
    width: $width-100;
    padding: 20px 0;
    margin: 0 auto;
     //map-get
     background: map-get($map: $bgColor, $key: 'main');
    &:hover{        
        cursor: context-menu;   
        color: $verde;  
    }    
}
h3{
    font-size: $sizeH3;
    text-align: $alignText;  
    text-decoration: none;
    padding: 10px 0;   
}
h4{
    font-family: $h4Font;
    font-size: $sizeH4;     
    text-align: $alignText;
    padding: 10px 0px;
    margin: 0px auto;
}
p{
    text-align: $alignText;
    font-size: $sizeP;  
    margin-bottom: 0;  
}