@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$navFont: 'Staatliches', cursive;
$h1Font: 'Bangers', cursive;
$mainFont: 'Boogaloo', cursive;
$h4Font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$sizeH1: 70px;
$sizeH3: 40px;
$sizeH4: 20px;
$sizeP: 25px;
//mobile size
$mfSizeH1: 15px;
$mfSizeH2: 15px;
$mfSizeH4: 12px;
$mfSizeP: 12px;
//tablet size
$tabletH1: 35px;
$tabletH2: 30px;
$tabletH3: 25px;
$tabletP: 20px;

$fontWeight: 500;

$lineHeight: 1.6;