//colors
$fontColor: white;
$aquiColor: blue;
$black: black; 
$verde: #243F4F;
//map
$bgColor: (
    'main': linear-gradient(to right, #243F4F, black, #243F4F),
    'hover': linear-gradient(to right, black, #243F4F, black), 
    'div': linear-gradient(to left, black, #243F4F, black),
    'top': linear-gradient(to top, black, #243F4F, black),
);

$imgSize: 800px;
$width-100: 100%;
$alignText: center;
$margin: auto; 





